 @charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);

body{
    background-color:#000000;
}

.machineContainer{
    background-color: #000;
    padding: 5px 1px 5px 1px;
    overflow: hidden;
    height: 135px;
}
.slotMachine{
    width: 32.333333%;
    border: 5px solid #000;
    height: 100px;
    padding: 0px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
}
.machineResult{
    color:#fff;
    text-align:center;
    font-weight: 900;
}
.noBorder{
    border:none !important;
    background: transparent !important;
}
.slotMachine .slot{
    height:100px;
    background-position-x: 55%;
    background-repeat: no-repeat;
}
.item1{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/items/item1.jpg");
}
.item2{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/items/item2.jpg");
}
.item3{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/items/item3.png");
}
.item4{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/items/item4.jpg");
}
.item5{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/items/item5.jpg");
}
.item6{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/items/item6.jpg");
}

.human0{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/mesh.png");
}

.human1{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/humans/human1.png");
}
.human2{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/humans/human2.png");
}
.human3{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/humans/human3.png");
}
.human4{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/humans/human4.jpg");
}
.human5{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/humans/human5.png");
}
.human6{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/humans/human6.png");
}
.human7{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/humans/human7.png");
}
.human8{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/humans/human8.png");
}
.human9{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/humans/human9.png");
}

.number0{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/numbers/0.jpg");
}

.number1{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/numbers/1.jpg");
}
.number2{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/numbers/2.jpg");
}
.number3{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/numbers/3.jpg");
}
.number4{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/numbers/4.jpg");
}
.number5{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/numbers/5.jpg");
}
.number6{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/numbers/6.jpg");
}
.number7{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/numbers/7.jpg");
}
.number8{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/numbers/8.jpg");
}
.number9{
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-image: url("/images/numbers/9.jpg");
}